<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.manateeworks.barcodescanner"
    version="1.1.0">
    <name>MWBarcodeScanner</name>
    <description>Manateeworks Barcode Scanner Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,barcode</keywords>
    
    
    <js-module src="www/MWBScanner.js" name="Scanner">
        <clobbers target="scanner" />
    </js-module>
    
    
    <dependency id="org.apache.cordova.dialogs" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-dialogs.git" />
    
    <!-- android -->
     <platform name="android">
     
     
     
     
     <config-file target="res/xml/config.xml" parent="/*">
     <feature name="MWBarcodeScanner">
     <param name="android-package" value="com.manateeworks.BarcodeScannerPlugin"/>
     </feature>
     </config-file>
     
     <config-file target="AndroidManifest.xml" parent="/manifest/application">
     
     <activity android:name="com.manateeworks.ScannerActivity"
     android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
     android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
     </activity>
     
     </config-file>
     
     <config-file target="AndroidManifest.xml" parent="/manifest">
     
     <uses-permission android:name="android.permission.CAMERA" />
     
     </config-file>
     
     
     
     <source-file src="Android/src/com/manateeworks/BarcodeScanner.java" target-dir="src/com/manateeworks" />
     <source-file src="Android/src/com/manateeworks/BarcodeScannerPlugin.java" target-dir="src/com/manateeworks" />
     <source-file src="Android/src/com/manateeworks/ScannerActivity.java" target-dir="src/com/manateeworks" />
     <source-file src="Android/src/com/manateeworks/MWOverlay.java" target-dir="src/com/manateeworks" />
     <source-file src="Android/src/com/manateeworks/camera/AutoFocusCallback.java" target-dir="src/com/manateeworks/camera" />
     <source-file src="Android/src/com/manateeworks/camera/CameraConfigurationManager.java" target-dir="src/com/manateeworks/camera" />
     <source-file src="Android/src/com/manateeworks/camera/CameraManager.java" target-dir="src/com/manateeworks/camera" />
     <source-file src="Android/src/com/manateeworks/camera/PreviewCallback.java" target-dir="src/com/manateeworks/camera" />
     
     <source-file src="Android/res/layout/scanner.xml" target-dir="res/layout" />
     <source-file src="Android/res/drawable/overlay.png" target-dir="res/drawable" />
     <source-file src="Android/res/drawable-hdpi/overlay.png" target-dir="res/drawable-hdpi" />
     <source-file src="Android/res/drawable/flashbuttonoff.png" target-dir="res/drawable" />
     <source-file src="Android/res/drawable/flashbuttonon.png" target-dir="res/drawable" />
     
     <source-file src="Android/libs/armeabi/libBarcodeScannerLib.so" target-dir="libs/armeabi" />
     <source-file src="Android/libs/armeabi-v7a/libBarcodeScannerLib.so" target-dir="libs/armeabi-v7a" />
     
     </platform>
    
   <!-- ios -->
    <platform name="ios">
     
     
        <config-file target="config.xml" parent="/*">
            <feature name="MWBarcodeScanner">
                <param name="ios-package" value="CDVMWBarcodeScanner" />
            </feature>
        </config-file>
        
        <framework src="CoreVideo.framework" weak="false" />
        <framework src="CoreGraphics.framework" weak="false" />
        <framework src="QuartzCore.framework" weak="false" />
               
        <header-file src="iOS/src/CDVMWBarcodeScanner.h" target-dir="MWBarcodeScanner"/>
        <source-file src="iOS/src/CDVMWBarcodeScanner.m" target-dir="MWBarcodeScanner"/>
        <header-file src="iOS/src/MWBarcodeScanner/BarcodeScanner.h" target-dir="MWBarcodeScanner"/>
        <header-file src="iOS/src/MWBarcodeScanner/MWScannerViewController.h" target-dir="MWBarcodeScanner"/>
        <source-file src="iOS/src/MWBarcodeScanner/MWScannerViewController.m" target-dir="MWBarcodeScanner"/>
        <header-file src="iOS/src/MWBarcodeScanner/MWOverlay.h" target-dir="MWBarcodeScanner"/>
        <source-file src="iOS/src/MWBarcodeScanner/MWOverlay.m" target-dir="MWBarcodeScanner"/>
        <source-file src="iOS/src/MWBarcodeScanner/MWScannerViewController.xib" target-dir="MWBarcodeScanner"/>
        <source-file src="iOS/src/MWBarcodeScanner/libBarcodeScanner.a" target-dir="MWBarcodeScanner" framework="true"/>
        
        <resource-file src="iOS/src/MWBarcodeScanner/close_button.png" target-dir="MWBarcodeScanner"/>
        <resource-file src="iOS/src/MWBarcodeScanner/flashbuttonon.png" target-dir="MWBarcodeScanner"/>
        <resource-file src="iOS/src/MWBarcodeScanner/flashbuttonoff.png" target-dir="MWBarcodeScanner"/>
        <resource-file src="iOS/src/MWBarcodeScanner/overlay.png" target-dir="MWBarcodeScanner"/>
        <resource-file src="iOS/src/MWBarcodeScanner/overlay@2x.png" target-dir="MWBarcodeScanner"/>
        
    </platform>
    
    
    <!-- wp8 -->
    <platform name="wp8">
        
        <config-file target="config.xml" parent="/*">
    		<feature name="MWBarcodeScanner">
        		<param name="wp-package" value="MWBarcodeScanner"/>
    		</feature>
        </config-file>
        
        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
        </config-file>
        
        
        <source-file src="wp8/MWBarcodeScanner/MWBarcodeScanner.cs"/>
        <source-file src="wp8/MWBarcodeScanner/BarcodeHelper.cs"/>
        <source-file src="wp8/MWBarcodeScanner/ScannerPage.xaml.cs" />
        <source-file src="wp8/MWBarcodeScanner/ScannerPage.xaml"/>
	<source-file src="wp8/MWBarcodeScanner/MWOverlay.cs"/>
        <source-file src="wp8/MWBarcodeScanner/overlay.png"/>
	<source-file src="wp8/MWBarcodeScanner/flashbuttonon.png"/>
	<source-file src="wp8/MWBarcodeScanner/flashbuttonoff.png"/>

        
        <source-file src="wp8/BarcodeLib.winmd" framework="true"/>
        <source-file src="wp8/BarcodeLib.dll"/>

	<source-file src="wp8/WBEx/WriteableBitmapExWinPhone.dll" framework="true"/>
	<source-file src="wp8/WBEx/WriteableBitmapExWinPhoneXnaDependant.dll" framework="true"/>
	<source-file src="wp8/WBEx/WriteableBitmapExWinPhone.pdb"/>
	<source-file src="wp8/WBEx/WriteableBitmapExWinPhoneXnaDependant.pdb"/>
	<source-file src="wp8/WBEx/WriteableBitmapExWinPhone.XML"/>
	<source-file src="wp8/WBEx/WriteableBitmapExWinPhoneXnaDependant.XML"/>

        
    </platform>

    
    
</plugin>